@page
@using Microsoft.OpenApi.Extensions
@using Atomic.Identity
@model Atomic.UnifiedAuth.Web.Pages.Account.ForgotPassword

@{
  ViewData["Title"] = _localizer["Forgot password"].Value;
}

@if (Model.LinkSent)
{
  <div class="block has-text-centered">
    @_localizer["Account recovery url has been sent to {0} via {1}.", Model.Input.UserIdentifier!, Model.Input.Method.GetDisplayName().ToLowerInvariant()]
  </div>

  <div class="has-text-centered">
    <a asp-page="./Login" class="button is-primary">
      @_localizer["Back to login"]
    </a>
  </div>
}
else
{
  <div class="block">
    @_localizer["A password reset link will be sent to your email to reset your password. If you don't get an email within a few minutes, please re-try."]
  </div>

  @await Html.PartialAsync("Shared/_ErrorNotification", Model.PageErrorMessage)

  <form method="post">
    <div class="field">
      <label asp-for="Input.UserIdentifier" class="label"></label>
      <div class="control">
        <input asp-for="Input.UserIdentifier" class="input">
      </div>
      <span asp-validation-for="Input.UserIdentifier" class="help is-danger"></span>
    </div>

    <div class="field">
      <label asp-for="Input.Method" class="label"></label>
      <div class="control select">
        <select asp-for="Input.Method" asp-items="Html.GetEnumSelectList<ContactMethod>()"></select>
      </div>
      <span asp-validation-for="Input.Method" class="help is-danger"></span>
    </div>

    <button class="button is-primary is-rounded is-fullwidth">
      @_localizer["Send"]
    </button>
  </form>
}
